
# Day 17

### 1)  Create a connection for DB and print the version using a python program.

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost", 
    user="root",
    password="Sejal@123",
    database="mydatabase"
)

db = mydb.cursor()
db.execute("SELECT VERSION()")
data = db.fetchone()
print("Database version : %s"% data)

Database version : 8.0.25

### 2)  Create a multiple tables & insert data in table.

In [9]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost", 
    user="root",
    password="Sejal@123",
    database="mydatabase"
)
dbse = mydb.cursor()
dbse.execute("CREATE TABLE customers (Customer_name VARCHAR(255), Order_name VARCHAR(255))")

In [21]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost", 
    user="root",
    password="Sejal@123",
    database="mydatabase"
)
my = mydb.cursor()
sql = "INSERT INTO customers (Customer_name, Order_name) VALUES (%s,%s)" 
val = ("Ram", "Pant")
my.execute(sql, val)
mydb.commit() 
print(my.rowcount, "record inserted.")

1 record inserted.

In [22]:
my = mydb.cursor()
sql = "INSERT INTO customers (Customer_name, Order_name) VALUES (%s,%s)" 
val = ("Roy", "T-shirt")
my.execute(sql, val)
mydb.commit() 
print(my.rowcount, "record inserted.")

1 record inserted.

### 3)  Create a employee table and read all the employee name in the table using for loop.

In [29]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost", 
    user="root",
    password="Sejal@123",
    database="mydatabase"
)
dbse = mydb.cursor()
dbse.execute("CREATE TABLE employee (Employee_name VARCHAR(255), Employee_address VARCHAR(255))")
my = mydb.cursor()
sql = "INSERT INTO employee (Employee_name, Employee_address) VALUES (%s,%s)" 
val =[ ("Raj", "Mumbai"),
      ("Sai", "Delhi"),
      ("Soniya", "Mumbai"),
      ("Parth","Nagpur")
     ]
my.executemany(sql, val)
mydb.commit() 
print(my.rowcount, "record inserted.")

4 record inserted.

In [30]:
db = mydb.cursor()
db.execute("SELECT employee_name FROM employee")
myresult = db.fetchall()
for x in myresult:
    print(x)

('Raj',)
('Sai',)
('Soniya',)
('Parth',)