# Day 20

### â€¢ Create an Employee Table with employee name,employee ID & Salary.

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Sejal@123"
    )
db = mydb.cursor()
db.execute("CREATE DATABASE Employee_Management_System")

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Sejal@123",
    database = "Employee_Management_System"
    )
db = mydb.cursor()
db.execute("CREATE TABLE Employee (Employee_name VARCHAR(255), Employee_id INT(10), Employee_salary INT(10))")

In [4]:
db = mydb.cursor()
sql = "INSERT INTO Employee (Employee_name, Employee_id, Employee_salary) VALUES (%s,%s,%s)"
val = [("Roy", 101, 40000),
       ("Sonal", 102,30000),
       ("Raj", 103, 40000),
       ("Girish", 104, 50000),
       ("Prathmesh", 105, 60000),
       ("Saniya", 106, 45000),
       ("Abhi", 107, 35000),
       ("Guri", 108, 30000),
       ("Lura", 109, 55000),
       ("Zoy", 110, 50000)]
db.executemany(sql,val)
mydb.commit() 
print(db.rowcount, "record inserted.")

10 record inserted.

In [5]:
db = mydb.cursor()
db.execute("SELECT * FROM Employee")
myresult = db.fetchall()
for x in myresult:
    print(x)

('Roy', 101, 40000)
('Sonal', 102, 30000)
('Raj', 103, 40000)
('Girish', 104, 50000)
('Prathmesh', 105, 60000)
('Saniya', 106, 45000)
('Abhi', 107, 35000)
('Guri', 108, 30000)
('Lura', 109, 55000)
('Zoy', 110, 50000)

### a. Write a query to get the maximum and minimum salary from employees table.

In [13]:
db = mydb.cursor()
db.execute("SELECT  Employee_name, Employee_id, Employee_salary FROM Employee WHERE Employee_salary = (SELECT MAX(Employee_salary) FROM Employee)")
myresult = db.fetchall()
for x in myresult:
    print(x)

('Prathmesh', 105, 60000)

In [14]:
db = mydb.cursor()
db.execute("SELECT  Employee_name, Employee_id, Employee_salary FROM Employee WHERE Employee_salary = (SELECT MIN(Employee_salary) FROM employee)")
myresult = db.fetchall()
for x in myresult:
    print(x)

('Sonal', 102, 30000)
('Guri', 108, 30000)

  ### b. Write a query to get the number of employees working with the company

In [21]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Sejal@123",
    database = "Employee_Management_System"
    )
db = mydb.cursor()
sql = "SELECT COUNT(*) FROM employee"
db.execute(sql)
myresult = db.fetchall()
for x in myresult:
    print(x," employees working with the company")

(10,)  employees working with the company

 ### c. Write a query to get the first 3 characters of first name from employees table

In [24]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Sejal@123",
    database = "Employee_Management_System"
    )
db = mydb.cursor()
db.execute("SELECT SUBSTRING(Employee_name,1,3) FROM employee")
myresult = db.fetchall()
for x in myresult:
    print(x)

('Roy',)
('Son',)
('Raj',)
('Gir',)
('Pra',)
('San',)
('Abh',)
('Gur',)
('Lur',)
('Zoy',)