# Day 24

### 1.Create a JSON of all object types and import the JSON into a SQL Database Note: The JSON file should have valus of all Datatypes

In [1]:
import pandas as pd
import json
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
with open("inf.json",'w') as json_file:
    json.dump(data,json_file)
with open("inf.json") as i:
    data = json.load(i)
df = pd.DataFrame(data)
print(df)

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd